<div class="my-carousel">

  <div class="carousel-container ">

    <div class="carousel-tile" ng-repeat="img in vm.imageUrls">
      <!-- <img src="https://images.unsplash.com/photo-1549725731-e8b29d266553?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"> -->

      <img ng-src="{{img}}">

    </div>
  </div>
  <div class="btn-container">
    <button type="button" class="btn btn-info btn-left btn-position-left">
      < </button> <button type="button" class="btn btn-info btn-right btn-position-right">
        >
    </button>


  </div>
  <!-- 
<ol class="carousel-indicators" style="top:-100">
    <li data-target="#myCar" ng-repeat="img in vm.imageUrls" ></li>
  </ol> -->

  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

  </ol>



</div>